@model BlogSosyalMedya.Models.Otel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Otel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtelYildizi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtelYildizi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtelAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtelAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sehir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sehir.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ulke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ulke.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
