@model BlogSosyalMedya.Models.TatilYerleri

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TatilYerleri</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YerAdı)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YerAdı)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sehir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sehir.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ulke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ulke.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategori.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puani)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puani)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fotograf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fotograf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GidilmeDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GidilmeDurumu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
